doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://kit.fontawesome.com/4cbe523b1d.js" crossorigin="anonymous")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/css/header.css")
    link(rel="stylesheet" href="/css/form.css")
    link(rel="stylesheet" href="/css/tweet.css")
    title Twitter
  body
    .wrapper 
      include includes/topbar
      block content 
