extends ../layout

block content 
  main(class="main-form")
    form(method="post" action="/users/signup")
      div(class="form-header") Inscription
      div(class="form-body")
        div(class="form-group")
          label(for="username") Username
          input(type="text" name="username" id="username")
        div(class="form-group")
          label(for="email") Email
          input(type="email" name="email" id="email")
        div(class="form-group")
          label(for="password") Password
          input(type="password" name="password" id="password")
        if errors 
         ul(class="list-errors")
          each error in errors
           li(class="text-danger")= error
        input(type="submit" value="S'inscrire" class="btn btn-primary")